#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

.plans__list {
    /* center the plans on the page */
    width: 80%;
    margin: auto;
    text-align: center;
}

.plan {
    background: #2ddf5a60;
    text-align: center;
    padding: 16px;
    margin: 8px;
    /* to have the 3 blocks on same row */
    display: inline-block;
    /* for the 3 blocks to sit within one row - will take 30% of WHOLE page because no width limit on parent elements */
    width: 30%;
    box-sizing: border-box;
    /* make sure that the middle is the SAME for all plans */
    vertical-align: middle;
    border-radius: 5px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: rgb(120, 46, 139)
}

.plan--higkighted .plan__title {
    color: white;
}

.plan--higkighted .plan__price {
    color: #0e4f1f;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan--higkighted {
    background-color: rgb(6, 187, 6);
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__badge {
    background-color: white;
    /* same color that higlighted bbox for CONSISTENCY */
    color: rgb(6, 187, 6);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.plan__feature {
    margin: 9px 0;
}

#key-features {
    background-color: #ff1b58;
    margin-top: 80px;
    padding: 16px;
}

.key-features__list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__image {
    background-color: #ffcede;
    border: 2px solid #424242;
    /* to get a perfect circle the height must match the width */
    width: 128px;
    height: 128px;    
    border-radius: 50%;
    /* auto will fill the space to te left and right to center HORIZONTALLY */
    margin: auto;
}

.key-feature__description {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.section-title {
    color: #23b949;
    font-family: inherit;
    text-align: center
}
